header {
    padding: 1.5rem 0;
}

header ul {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
}

header ul li {
    list-style: none;
}

header li a {
    text-decoration: none;
    color: darkgray;
    text-transform: uppercase;
}
